div.mtgCard.silver {
    background-color: rgb(129,149,169)
}
div.mtgCard.red {
    background-color: rgb(119,31,31)
}
div.mtgCard.green {
    background-color: rgb(122,148,96)
}
div.mtgCard.blue {
    background-color: #4286b4
}
div.mtgCard.black {
    background-color: #0e0e16
}
div.mtgCard.white {
    background-color: ivory;
}
.info{
    background-color: whitesmoke;
    opacity: .5;
    color: #262626;
    border: 2px solid #0e0e0e;
    border-radius: 3px;
}
/*case 'WHITE':*/
/*            return 'white';*/
/*case 'BLUE':*/
/*           return 'rgb(102, 119, 153)';*/
/*case 'BLACK':*/
/*            return 'rgb(32, 32, 32)';*/
/*case 'GREEN':*/
/*            return 'rgb(122, 148, 96)';*/
/*case 'RED':*/
/*          return 'rgb(119, 31, 31)';*/
/*default:*/
/*return 'rgb(129, 149, 169)';*/